
.list {
  margin: 3rem 0;
  list-style: none;
  padding: 3rem;
  border-top: var(--border-bottom);
  border-bottom: var(--border-bottom);

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;
    // Add the SVG icon
    &::before {
      content: '';
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: .7rem;

      // Older browsers approach
      background-image: url(../../../../../assets/img/chevron-thin-right.svg);
      background-size: cover;

      @supports ((-webkit-mask-image: url('../../../../../assets/img/chevron-thin-right.svg')) or
      (mask-image: url('../../../../../assets/img/chevron-thin-right.svg'))) {
        // Newer browsers - CSS Masks
        mask-image: url(../../../../../assets/img/chevron-thin-right.svg);
        mask-size: cover;
        background: var(--color-primary) none;
      }

    }
  }
}

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);

  display: flex;
  align-items: center;


  &__count {
    margin-right: auto;
  }
  &__friends {
    display: flex;
  }
  &__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid var(--color-white);
    // Pile the images
    &:not(:last-child) {
      margin-right: -2rem;
    }
  }
}
