@import '../abstracts/variables';
@import '../abstracts/mixins';

// Add font related styles here
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background: linear-gradient(
      to right bottom,
      var(--color-primary-light),
      var(--color-primary-dark)
  ) no-repeat;
  background-size: cover;
  color: var(--color-grey-dark-2);

  // Good for responsive design
  min-height: 100vh;
}

.heading-primary {

}

.heading-secondary {

}

.heading-tertiary {

}

.paragraph {

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}
