.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

////////////// Side Nav //////////////

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  &__item {
    position: relative;
    // For the animation: Adding a Small line that becomes visible
    // and expands to the right
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      // Animate on hover the appearance of the pink line from the center
      transform: scaleY(0);
      transform-origin: center;
      // We delay the transition of the width to happen after the scale one.
      // background-color is for clicked state
      transition: transform 200ms,
                  width 400ms cubic-bezier(1, 0, 0 , 1) 200ms,
                  background-color 100ms;
    }
    &:not(:last-child) {
      margin-bottom: .5rem;
    }
    // Only visible when we hover the item, same styles for active item
    &:hover,
    &--active {
      &::before {
        // Makes the expansion in the Y axis
        transform: scaleY(1);
        // Makes the expansion in the X axis
        width: 100%;
      }
    }

    // When clicking, change a little the color tone, see transition
    &:active {
      &::before {
        background-color: var(--color-primary-light);
      }
    }
  }
  &__link {
    &,
    &:link,
    &:visited {
      color: var(--color-grey-light-1);
      text-decoration: none;
      text-transform: uppercase;
      padding: 1.5rem 3rem;
      // For animation to happen behind
      position: relative;
      z-index: 10;

      display: flex;
      align-items: center;

      // For firefox
      outline: none;
    }
  }
  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
  }

}

////////////// Legal //////////////

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;
}
